<h1><%= @golf_course.name %> Scorecard</h1>

<% @tees.each do |t| %>
  <h2 align="left"><%= t.name %></h2>
    <% t.course_nines.each do |c| %>
      <h3><%= c.name %></h3>
        <% c.holes.each do |h| %>
          <p> Hole: <%= h.num %> <p>
          <p> Par <%= h.par %> <p>
          <p> Distance <%= h.distance %> <p>
          <p> Handicap: <%= h.handicap %> <p>
        <%end%>      
    <%end%>  
<%end%>

