<% provide(:title, 'Golf Club') %>
<h1>Golf Club</h1>
<div class="row">
  <div class="span6" "offset3">
    <%= form_for (@golf_club) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :golf_club.tee %>
      <%= f.text_field @golf_club.tee_name %>
	  

      <%= f.submit "Create Course", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

