<% provide(:title, @golf_club.name) %>
<h1><%= @golf_club.name %></h1>

<p>
<% @tee.each do |tee| %>
  <%= tee.name %> <br>
  Rating <%= tee.rating %> Slope <%= tee.slope %> Par <%= tee.par %> <br>
<% end %>
</p>


  <table border ="1">
  <tr>
    <td>Holes</td>
    <% j = 1 %>
    <% while j <= 18 do %>
      <td> <%= j %> </td>
      <% if j == 9 %>
        <td> OUT </td>
      <% end %>
      <% if j == 18 %>
        <td> IN </td>
        <td> TOTAL </td>
      <% end %>
      <% j+=1 %>
    <% end %>   
  </tr>
  
  <tr>      
    <% @tee.each do |tee| %>
      <td>
        <tr>
          <td><%= tee.name %></td>
          <% distance = 0 %>       
          <% tot_distance = 0 %>
          <% @holes = Hole.where(tee_id: tee.id)%>
          <% @holes.each do |hole| %>
            <td> <%= hole.distance %> </td>
            <% distance += hole.distance %>
            <% if hole.num == 9 || hole.num == 18  %>
              <td> <%= distance %> </td>
              <% tot_distance += distance %>
              <% distance = 0 %>
            <% end %>
          <% end %>
          <td> <%= tot_distance %> </td>
        </tr>
      </td>
    <% end %>
  </tr>
  </table> 


<table cellpadding="0" cellspacing="0" width="80%" style="border-collapse:collapse;border-style:none;">
  <tr>
    <td style="border-style:none;">
      <b>Mountain</b>
    </td>
    
    <td style="border-style:none;">
      <b>Desert</b>
    </td>
  </tr> 
  
  <tr>
    <td style="border-style:none;">
    
    <table>
      <tr style="background-color:#99CCFF">
        <td >Holes</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td >4</td>
        <td >5</td>
        <td >6</td>
        <td >7</td>
        <td >8</td>
        <td >9</td>
        <td>OUT</td>
      </tr>
      <tr style="background-color:#FFFF99">
        <td >Back</td>
        <td >299</td>
        <td >366</td>
        <td >615</td>
        <td >346</td>
        <td >338</td>
        <td >183</td>
        <td >422</td>
        <td >144</td>
        <td >561</td>
        <td >3274</td>
      </tr>
      <tr>
        <td >Handicap</td>
        <td >4</td>
        <td >9</td>
        <td >6</td>
        <td >3</td>
        <td >1</td>
        <td >7</td>
        <td >8</td>
        <td >5</td>
        <td >2</td>
        <td ></td>
      </tr>
      <tr style="background-color:#EEEEEE">
        <td >Par</td>
        <td >5</td>
        <td >4</td>
        <td >3</td>
        <td >4</td>
        <td >5</td>
        <td >4</td>
        <td >3</td>
        <td >4</td>
        <td >4</td>
        <td >36</td>
      </tr>
    </table>
    </td>
    <td style="border-style:none;">
      <table>
        <tr style="background-color:#99CCFF">
          <td >Holes</td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>IN</td>
          <td>TOTAL</td>
        </tr>
        <tr style="background-color:#FFFF99">
          <td >Back</td>
          <td >498</td>
          <td >345</td>
          <td >181</td>
          <td >392</td>
          <td >570</td>
          <td >368</td>
          <td >177</td>
          <td >369</td>
          <td >378</td>
          <td >3278</td>
          <td >6552</td>
        </tr>
        <tr>
          <td >Handicap</td>
          <td >8</td>
          <td >4</td>
          <td >1</td>
          <td >5</td>
          <td >7</td>
          <td >6</td>
          <td >2</td>
          <td >9</td>
          <td >3</td>
          <td></td>
          <td></td>
        </tr>
        <tr style="background-color:#EEEEEE">
          <td >Par</td>
          <td >4</td>
          <td >4</td>
          <td >5</td>
          <td >4</td>
          <td >4</td>
          <td >3</td>
          <td >4</td>
          <td >3</td>
          <td >5</td>
          <td >36</td>
          <td >72</td>
        </tr>
        
      </table>
    </td>
  </tr>
</table>